*{
    box-sizing:border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

input{
    margin: auto;
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0.5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
  }
  input:focus{
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
  input:hover{
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
  
  #suggestions-container{
    display:none;
    width:100%;
    box-shadow: 0px 2px 10px 0.5px rgba(0, 0, 0, 0.2);
    margin-top:10px;
    border-radius: 5px;
  }
  li.suggestion{
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  li.suggestion:hover{
    background-color: rgba(0, 0, 0, 0.04);
  }
  .container{
    margin: auto;
    width: 60%;
  }

  #loading-text{
    text-align: center;
  }


@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
      }
  }